<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find car_model)/worlds/car_world.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find car_model)/robots/car_model.xacro'" />

  <arg name="gui" default="true"/>
  <param name="use_gui" value="$(arg gui)" />

<!-- car model -->
  <node name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-urdf -model car_model -param robot_description"
    respawn="false"
    output="screen" />

  <node name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />

  <!--<node name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />

  <node pkg="fake_localization" 
    type="fake_localization" 
    name="fake_localization" 
    clear_params="true" output="screen">
    <remap from="base_pose_ground_truth" to="odom" />
    <param name="global_frame_id" value="map" />
    <param name="base_frame_id" value="base_link" />
  </node>-->

<!-- column control -->
  <rosparam file="$(find car_model)/config/car_control.yaml" command="load"/>
  <node name="joint_controller_spawner" 
    pkg="controller_manager" 
    type="spawner" 
    respawn="false"
    output="screen" 
    ns="/car_model" 
    args="joint_state_controller 
          joint_column_link1_controller 
          joint_column_link2_controller
          joint_column_link3_controller"/>

<!-- vel control -->
  <node name="control_vel"
    pkg="car_keyboard"
    type="car_keyboard.py"
    output="screen" />

<!-- car state -->
  <node name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher"
    respawn="false"
    output="screen" >
    <!--<remap from="/joint_states" to="/car_model/joint_states" />-->
  </node>

</launch>
