<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find car_control)/config/robot_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" 
    pkg="controller_manager" 
    type="spawner" 
    respawn="false"
    output="screen" 
    ns="/car_model" 
    args="joint_state_controller 
          joint_column_link1_controller 
          joint_column_link2_controller
          joint_column_link3_controller"/>
<!--      joint_right_front_wheel
          joint_right_back_wheel
          joint_left_front_wheel
          joint_left_back_wheel     -->

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" 
    pkg="robot_state_publisher" 
    type="robot_state_publisher"
    respawn="false" 
    output="screen">
    <remap from="/joint_states" to="/car_model/joint_states" />
  </node>

</launch>
